<div class="container">
  <div class="header-area">
    <h1 class="titulo">Gerenciador de Tarefas</h1>
  </div>
  <div class="area-adicionar">
    <button class="adicionar" (click)="openAddTaskModal()">
      Adicionar Tarefa
    </button>
  </div>

  <div class="task-list-area">
    <h2 class="subtitulo">Lista de Tarefas</h2>
    <div class="filter">
      <mat-icon class="icon">search</mat-icon>
      <input matInput [(ngModel)]="filterText" placeholder="Busca por Título" />
    </div>

    <div class="task-list">
      <div
        *ngFor="let task of filteredTasks()"
        class="task-card"
        [ngClass]="{ done: task.status === TaskStatus.DONE }"
      >
        <h2 class="tituloTarefa">{{ task.title }}</h2>
        <div class="descricao">
          <p class="description">{{ task.description }}</p>
        </div>
        <p class="hour" *ngIf="task.status === TaskStatus.DONE">
          Finalizado em:
          {{ task.updatedAt | date : "dd/MM/yyyy 'às' HH'h'mm'min'" }}
        </p>

        <div class="status">
          <ng-container *ngIf="task.status === TaskStatus.DONE">
            <mat-icon class="status-icon">check</mat-icon>
          </ng-container>
          {{ task.status === TaskStatus.DONE ? "Concluído" : "A Fazer" }}
        </div>

        <div class="actions">
          <button
            mat-icon-button
            color="primary"
            *ngIf="task.status !== TaskStatus.DONE"
            (click)="markAsDone(task)"
          >
            <mat-icon class="icon-check">check</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteTask(task)">
            <mat-icon class="icon-del">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
